* {
    margin: 0;
    padding: 0;
}

body {
    background: url(colorful-love-hearts-wallpaper-free-image.webp) no-repeat top center;
    background-size: cover;
}

.box {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1410px;
    width: 30%;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 50px 50px;
    line-height: 35px;

    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    
    transition: 1s;

    overflow: hidden;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.text:hover {
    transform: scale(1.2);
    box-shadow: 
    0px 0px 20px 5px rgb(213, 12, 253),
    0px 0px 20px 8px rgb(253, 12, 193),
    0px 0px 20px 10px rgb(253, 12, 80);

    border: 2px solid rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(40px);

    color: white;
    
    /*-webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 5s ease infinite;*/
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.box-vopros {
    backdrop-filter: blur(15px);
    height: 25vh;
    width: 20%;
    border: 2px solid white;
    border-radius: 10px;
}

.textP {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: white;
    font-size: 10px;
}

.yes {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-right: 10%;
    color: white;

    transition: 1s;
}

.no {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 30%;
    float: left;
    color: white;

    transition: 1s;
}

.no:hover {
    scale: 1.3;
    background: rgb(243, 76, 255);
}

.yes:hover {
    scale: 1.3;
    background: rgb(243, 76, 255);
}