* {
    margin: 0;
    padding: 0;
}

body {
    background: url(liubov_serdtsa_serdtse_160288_3840x2400.jpg) no-repeat center top;
    background-size: cover;
}

.BOX {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    height: 25vh;
    width: 30%;
    background: linear-gradient(-45deg, black, black, #fa482d);
    border: 2px solid red;
    border-radius: 20px;

    box-shadow: 5px 5px 10px black;

    transition: 1s;
}

.text {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgb(226, 1, 1);

    transition: 1s;
}

.yes {
    background: rgb(255, 117, 117);
    border: 2px solid rgb(255, 117, 117);
    border-radius: 30px;
    font-size: 26px;
    height: 50px;
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-right: 10%;

    transition: 1s;
}

.no {
    background: rgb(255, 117, 117);
    border: 2px solid rgb(255, 117, 117);
    border-radius: 30px;
    font-size: 26px;
    height: 50px;
    width: 30%;
    float: left;

    transition: 1s;
}

.box:hover {
    scale: 1.5;
    box-shadow: 0px 0px 20px red;
}

.yes:hover {
    scale: 1.3;
    background: rgb(188, 0, 0);
    border: rgb(188, 0, 0);
    transform: translateY(-15px);
    color: white;

    box-shadow: 15px 15px 10px black;
}

.no:hover {
    scale: 1.3;
    background: black;
    border: black;
    transform: translateY(-15px);
    color: white;

    box-shadow: 15px 15px 10px rgb(69, 0, 0);
}

.text:hover {
    font-size: 20px;
}